div.gameModal {
    @include positions(rgba(0, 0, 0, 0.6), top, 100vh, fixed);
    @extend %flexCenter;
    opacity: 0;
    pointer-events: none;
    z-index: 9999;
    padding: 0 10px;
    transition: opacity 0.4s ease;

    div.content {
        padding: 30px;
        max-width: 420px;
        width: 100%;
        border-radius: 10px;
        background: $winnerBgc;
        text-align: center;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);

        img {
            max-width: 130px;
            margin-bottom: 20px;

            @include breakPointsOne {
                max-width: 120px;
            }
        }

        img[src="images/victory.gif"] {
            margin-left: -10px;
        }

        h4 {
            font-size: 1.53rem;

            @include breakPointsOne {
                font-size: 1.45rem;
            }
        }

        p {
            font-size: 1.15rem;
            margin: 15px 0 30px;
            font-weight: 500;

            @include breakPointsOne {
                font-size: 1.1rem;
            }

            b {
                color: $winnerWordColor;
                font-weight: 600;
            }
        }

        button {
            padding: 12px 23px;

            @include breakPointsOne {
                padding: 10px 18px;
            }
        }
    }
}

div.gameModal.show {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.4s 0.4s ease;
}