@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;600;700;900&display=swap");
div#arrowContainer div#arrowDownMobile, div#arrowContainer div#arrowUpMobile, div#arrowContainer div#arrowLeftMobile, div#arrowContainer div#arrowRightMobile {
  width: 102px;
  height: 102px;
  box-shadow: 2px 2px 2px white, 2px -2px 2px white, -2px 2px 2px white, -2px -2px 2px white;
}

/* @include arrowMobilePos(50px); */
html {
  min-height: 100%;
  height: 100%;
  background: linear-gradient(#123 30%, #667);
  overflow: hidden;
}

body {
  background-color: #383838;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: relative;
}

* {
  font-family: "Rubik", sans-serif !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: white;
  margin-bottom: 16px;
}

div.frame {
  position: relative;
  width: 100vw;
  height: 100vh;
  direction: rtl;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 6px;
  text-align: center;
  position: relative;
}
div.frame div.board {
  display: inline-grid;
  border-radius: 3px;
  border: 4px solid;
  overflow: hidden;
  background-color: #464646;
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
}
div.frame div.board div {
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: azure;
  font-size: 15px;
  z-index: 1;
  text-shadow: 2px 2px 2px azure, 2px -2px 2px azure, -2px 2px 2px azure, -2px -2px 2px azure;
}
div.frame div.board div.snake {
  background-color: rgba(93, 0, 255, 0);
}
div.frame div.board div.head {
  background-color: rgba(152, 49, 49, 0);
}
div.frame div.board div.blueberry::after {
  content: attr(fruit);
  position: relative;
  top: 0px;
  right: 0px;
  font-size: 16px;
}
div.frame div#headContainer {
  display: inline-grid;
  border-radius: 3px;
  position: absolute;
  left: 50%;
  top: 80px;
  transform: translateX(-50%);
  z-index: 3;
  border: 4px solid;
  visibility: hidden;
  text-shadow: 1.4px 1.4px 1.4px azure, 1.4px -1.4px 1.4px azure, -1.4px 1.4px 1.4px azure, -1.4px -1.4px 1.4px azure;
}
div.frame div#headContainer div {
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: azure;
  font-size: 15px;
  z-index: 1;
}
div.frame div#headContainer div#headTransition {
  background-color: rgba(93, 0, 255, 0);
  position: absolute;
  transition: all 0.08s;
}

/* #headTransition.up {
    border-radius: 6px 6px 0 0;
    height: 1px;
}

#headTransition.right {
    border-radius: 0 6px 6px 0;
    width: 1px;
}

#headTransition.down {
    border-radius: 0 0 6px 6px;
    height: 1px;
}

#headTransition.left {
    border-radius: 6px 0 0 6px;
    width: 1px;
} */
div.menuGameContainer {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(91, 83, 83, 0.4509803922);
  width: 100vw;
  height: 100vh;
  z-index: 500;
  display: flex;
  justify-content: center;
}
div.menuGameContainer div#menuGame {
  background-color: rgba(255, 255, 255, 0.5098039216);
  box-shadow: 4px 4px 4px rgba(255, 255, 255, 0.5098039216), 4px -4px 4px rgba(255, 255, 255, 0.5098039216), -4px 4px 4px rgba(255, 255, 255, 0.5098039216), -4px -4px 4px rgba(255, 255, 255, 0.5098039216);
  color: azure;
  text-shadow: 4px 4px 4px #000, 4px -4px 4px #000, -4px 4px 4px #000, -4px -4px 4px #000;
  width: 400px;
  height: 470px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
div.menuGameContainer div#menuGame div.rowMenuFlex {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 380px;
}
div.menuGameContainer div#menuGame div.rowMenuFlex div.tdLeft {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  margin-right: 2px;
  transition: font-size 0.2s, padding-top 0.2s;
  font-weight: 900;
}
div.menuGameContainer div#menuGame div.rowMenuFlex div.tdLeft:hover {
  font-size: 30px;
  padding-top: -5px;
}
div.menuGameContainer div#menuGame div.rowMenuFlex div.tdCenter {
  width: 300px;
  text-align: center;
  font-size: 20px;
}
div.menuGameContainer div#menuGame div.rowMenuFlex div.tdRight {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  margin-left: 2px;
  transition: font-size 0.2s, padding-top 0.2s;
  font-weight: 900;
}
div.menuGameContainer div#menuGame div.rowMenuFlex div.tdRight:hover {
  font-size: 30px;
  padding-top: -5px;
}
div.menuGameContainer div#menuGame div.rowMenuFlex div#snakeTypeId {
  letter-spacing: -8px;
}
div.menuGameContainer div#menuGame div.rowMenuFlex div#fruitTypeId {
  font-size: 30px;
}
div.menuGameContainer div#menuGame div.buttonMenuContainer {
  margin-top: 50px;
}
div.menuGameContainer div#menuGame div.buttonMenuContainer button {
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px, rgba(0, 0, 0, 0.6117647059) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s;
  white-space: nowrap;
  border: 0;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
div.menuGameContainer div#menuGame div.buttonMenuContainer button:hover {
  box-shadow: rgba(0, 0, 0, 0.6117647059) 0 0 0 3px, transparent 0 0 0 0;
}

div#popup {
  display: none;
  position: absolute;
  left: 50%;
  top: 200px;
  transform: translate(-50%);
  filter: drop-shadow(5px 5px 5px #fffefe);
}
div#popup div {
  font-size: 6em;
  color: red;
  font-weight: 900;
}

.snow,
.snow:before,
.snow:after {
  position: absolute;
  top: -600px;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: radial-gradient(5px 5px at 298px 233px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 378px 541px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 168px 424px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 435px 483px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 360px 29px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 522px 503px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 351px 134px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 595px 578px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 22px 166px, rgb(255, 255, 255) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 252px 515px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 128px 475px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 197px 188px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 415px 58px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 472px 265px, rgb(255, 255, 255) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 483px 277px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 18px 258px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 173px 19px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 198px 451px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 364px 410px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 400px 132px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 362px 582px, rgb(255, 255, 255) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 173px 106px, rgb(255, 255, 255) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 450px 124px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 313px 31px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 57px 461px, rgb(255, 255, 255) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 116px 400px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 298px 179px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 321px 120px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 446px 142px, rgb(255, 255, 255) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 402px 258px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 282px 213px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 269px 446px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 232px 174px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 23px 170px, rgb(255, 255, 255) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 37px 194px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 327px 391px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 227px 418px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 204px 453px, rgb(255, 255, 255) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 222px 335px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 216px 333px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 250px 574px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 427px 417px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 445px 334px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 297px 329px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 386px 298px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 190px 85px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 85px 239px, rgb(255, 255, 255) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 300px 388px, rgb(255, 255, 255) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 183px 351px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 532px 388px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 535px 410px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 422px 503px, rgb(255, 255, 255) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 420px 197px, rgb(255, 255, 255) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 483px 37px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 495px 516px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 490px 469px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 233px 382px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 263px 539px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 276px 165px, rgb(255, 255, 255) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 585px 365px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 524px 101px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 333px 50px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 113px 563px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 49px 30px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 78px 389px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 133px 484px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 515px 290px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 526px 580px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 267px 547px, rgb(255, 255, 255) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 396px 363px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0));
  background-size: 600px 600px;
  animation: snow 3s linear infinite;
  content: "";
}

.snow:after {
  margin-left: -wCpx;
  opacity: 0.4;
  animation-duration: 6s;
  animation-direction: reverse;
  filter: blur(3px);
}

.snow:before {
  animation-duration: 9s;
  animation-direction: reverse;
  margin-left: -wBpx;
  opacity: 0.65;
  filter: blur(1.5px);
}

@keyframes snow {
  to {
    transform: translateY(600px);
  }
}
div#arrowContainer {
  position: absolute;
  left: 50%;
  bottom: 5px;
  width: 364px;
  height: 224px;
  transform: translate(-50%);
  z-index: 700000;
  opacity: 0;
}
div#arrowContainer div#arrowRightMobile {
  position: absolute;
  left: 260px;
  top: 60px;
  cursor: pointer;
}
div#arrowContainer div#arrowRightMobile img {
  width: 100px;
  transform: rotate(180deg);
}
div#arrowContainer div#arrowLeftMobile {
  position: absolute;
  left: 0px;
  top: 60px;
  cursor: pointer;
}
div#arrowContainer div#arrowLeftMobile img {
  width: 100px;
  transform: rotate(0deg);
}
div#arrowContainer div#arrowUpMobile {
  position: absolute;
  left: 130px;
  top: 0px;
  cursor: pointer;
}
div#arrowContainer div#arrowUpMobile img {
  height: 100px;
  position: absolute;
  right: 10px;
  top: 0;
  transform: rotate(90deg);
}
div#arrowContainer div#arrowDownMobile {
  position: absolute;
  left: 130px;
  top: 120px;
  cursor: pointer;
}
div#arrowContainer div#arrowDownMobile img {
  height: 100px;
  position: absolute;
  right: 10px;
  transform: rotate(270deg);
}

div#pauseContainer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(20, 20, 26, 0.7725490196);
  display: none;
}
div#pauseContainer p {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%);
  font-size: 10em;
  font-weight: 300;
  /* writing-mode: vertical-rl; */
  letter-spacing: -10px;
  color: azure;
}/*# sourceMappingURL=main.css.map */