@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;600;700;900&display=swap");
div#arrowContainer div#arrowDownMobile, div#arrowContainer div#arrowUpMobile, div#arrowContainer div#arrowLeftMobile, div#arrowContainer div#arrowRightMobile {
  width: 102px;
  height: 102px;
  box-shadow: 2px 2px 2px white, 2px -2px 2px white, -2px 2px 2px white, -2px -2px 2px white;
}

/* @include arrowMobilePos(50px); */
html {
  min-height: 100%;
  height: 100%;
  background: linear-gradient(#123 30%, #667);
  overflow: hidden;
}

body {
  background-color: #383838;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: relative;
}

* {
  font-family: "Rubik", sans-serif !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: white;
  margin-bottom: 16px;
}

div.frame {
  position: relative;
  width: 100vw;
  height: 100vh;
  direction: rtl;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 6px;
  text-align: center;
  position: relative;
}
div.frame div.board {
  display: inline-grid;
  border-radius: 3px;
  border: 4px solid;
  overflow: hidden;
  background-color: #464646;
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
}
div.frame div.board div {
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: azure;
  font-size: 15px;
  z-index: 1;
  text-shadow: 2px 2px 2px azure, 2px -2px 2px azure, -2px 2px 2px azure, -2px -2px 2px azure;
}
div.frame div.board div.snake {
  background-color: rgba(93, 0, 255, 0);
}
div.frame div.board div.head {
  background-color: rgba(152, 49, 49, 0);
}
div.frame div.board div.blueberry::after {
  content: attr(fruit);
  position: relative;
  top: 0px;
  right: 0px;
  font-size: 16px;
}
div.frame div#headContainer {
  display: inline-grid;
  border-radius: 3px;
  position: absolute;
  left: 50%;
  top: 80px;
  transform: translateX(-50%);
  z-index: 3;
  border: 4px solid;
  visibility: hidden;
  text-shadow: 1.4px 1.4px 1.4px azure, 1.4px -1.4px 1.4px azure, -1.4px 1.4px 1.4px azure, -1.4px -1.4px 1.4px azure;
}
div.frame div#headContainer div {
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: azure;
  font-size: 15px;
  z-index: 1;
}
div.frame div#headContainer div#headTransition {
  background-color: rgba(93, 0, 255, 0);
  position: absolute;
  transition: all 0.08s;
}

/* #headTransition.up {
    border-radius: 6px 6px 0 0;
    height: 1px;
}

#headTransition.right {
    border-radius: 0 6px 6px 0;
    width: 1px;
}

#headTransition.down {
    border-radius: 0 0 6px 6px;
    height: 1px;
}

#headTransition.left {
    border-radius: 6px 0 0 6px;
    width: 1px;
} */
div.menuGameContainer {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(91, 83, 83, 0.4509803922);
  width: 100vw;
  height: 100vh;
  z-index: 500;
  display: flex;
  justify-content: center;
}
div.menuGameContainer div#menuGame {
  background-color: rgba(255, 255, 255, 0.5098039216);
  box-shadow: 4px 4px 4px rgba(255, 255, 255, 0.5098039216), 4px -4px 4px rgba(255, 255, 255, 0.5098039216), -4px 4px 4px rgba(255, 255, 255, 0.5098039216), -4px -4px 4px rgba(255, 255, 255, 0.5098039216);
  color: azure;
  text-shadow: 4px 4px 4px #000, 4px -4px 4px #000, -4px 4px 4px #000, -4px -4px 4px #000;
  width: 400px;
  height: 470px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
div.menuGameContainer div#menuGame div.rowMenuFlex {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 380px;
}
div.menuGameContainer div#menuGame div.rowMenuFlex div.tdLeft {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  margin-right: 2px;
  transition: font-size 0.2s, padding-top 0.2s;
  font-weight: 900;
}
div.menuGameContainer div#menuGame div.rowMenuFlex div.tdLeft:hover {
  font-size: 30px;
  padding-top: -5px;
}
div.menuGameContainer div#menuGame div.rowMenuFlex div.tdCenter {
  width: 300px;
  text-align: center;
  font-size: 20px;
}
div.menuGameContainer div#menuGame div.rowMenuFlex div.tdRight {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  margin-left: 2px;
  transition: font-size 0.2s, padding-top 0.2s;
  font-weight: 900;
}
div.menuGameContainer div#menuGame div.rowMenuFlex div.tdRight:hover {
  font-size: 30px;
  padding-top: -5px;
}
div.menuGameContainer div#menuGame div.rowMenuFlex div#snakeTypeId {
  letter-spacing: -8px;
}
div.menuGameContainer div#menuGame div.rowMenuFlex div#fruitTypeId {
  font-size: 30px;
}
div.menuGameContainer div#menuGame div.buttonMenuContainer {
  margin-top: 50px;
}
div.menuGameContainer div#menuGame div.buttonMenuContainer button {
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px, rgba(0, 0, 0, 0.6117647059) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s;
  white-space: nowrap;
  border: 0;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
div.menuGameContainer div#menuGame div.buttonMenuContainer button:hover {
  box-shadow: rgba(0, 0, 0, 0.6117647059) 0 0 0 3px, transparent 0 0 0 0;
}

div#popup {
  display: none;
  position: absolute;
  left: 50%;
  top: 200px;
  transform: translate(-50%);
  filter: drop-shadow(5px 5px 5px #fffefe);
}
div#popup div {
  font-size: 6em;
  color: red;
  font-weight: 900;
}

.snow,
.snow:before,
.snow:after {
  position: absolute;
  top: -600px;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: radial-gradient(6px 6px at 467px 75px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 326px 35px, rgb(255, 255, 255) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 249px 151px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 297px 290px, rgb(255, 255, 255) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 408px 586px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 197px 47px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 444px 323px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 452px 303px, rgb(255, 255, 255) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 28px 467px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 83px 557px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 487px 348px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 300px 406px, rgb(255, 255, 255) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 75px 568px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 437px 300px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 543px 347px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 20px 470px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 365px 94px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 444px 325px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 49px 93px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 523px 83px, rgb(255, 255, 255) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 594px 40px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 545px 155px, rgb(255, 255, 255) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 373px 283px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 52px 431px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 427px 24px, rgb(255, 255, 255) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 433px 543px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 375px 416px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 283px 241px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 247px 258px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 48px 366px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 572px 53px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 377px 591px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 455px 326px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 404px 61px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 55px 47px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 338px 212px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 177px 433px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 337px 218px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 563px 121px, rgb(255, 255, 255) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 26px 122px, rgb(255, 255, 255) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 122px 14px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 437px 356px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 396px 262px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 190px 55px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 161px 481px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 274px 376px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 565px 499px, rgb(255, 255, 255) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 183px 164px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 436px 118px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 84px 38px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 386px 293px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 281px 247px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 161px 590px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 365px 374px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 239px 196px, rgb(255, 255, 255) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 384px 101px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 536px 532px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 311px 275px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 548px 273px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 102px 339px, rgb(255, 255, 255) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 464px 529px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 369px 509px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 282px 288px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 140px 304px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 225px 197px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 114px 42px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 205px 168px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 198px 115px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 199px 507px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 216px 574px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0));
  background-size: 600px 600px;
  animation: snow 3s linear infinite;
  content: "";
}

.snow:after {
  margin-left: -wCpx;
  opacity: 0.4;
  animation-duration: 6s;
  animation-direction: reverse;
  filter: blur(3px);
}

.snow:before {
  animation-duration: 9s;
  animation-direction: reverse;
  margin-left: -wBpx;
  opacity: 0.65;
  filter: blur(1.5px);
}

@keyframes snow {
  to {
    transform: translateY(600px);
  }
}
div#arrowContainer {
  position: absolute;
  left: 50%;
  bottom: 5px;
  width: 364px;
  height: 224px;
  transform: translate(-50%);
  z-index: 700000;
  opacity: 1;
}
div#arrowContainer div#arrowRightMobile {
  position: absolute;
  left: 260px;
  top: 60px;
  cursor: pointer;
}
div#arrowContainer div#arrowRightMobile img {
  width: 100px;
  transform: rotate(180deg);
}
div#arrowContainer div#arrowLeftMobile {
  position: absolute;
  left: 0px;
  top: 60px;
  cursor: pointer;
}
div#arrowContainer div#arrowLeftMobile img {
  width: 100px;
  transform: rotate(0deg);
}
div#arrowContainer div#arrowUpMobile {
  position: absolute;
  left: 130px;
  top: 0px;
  cursor: pointer;
}
div#arrowContainer div#arrowUpMobile img {
  height: 100px;
  position: absolute;
  right: 10px;
  top: 0;
  transform: rotate(90deg);
}
div#arrowContainer div#arrowDownMobile {
  position: absolute;
  left: 130px;
  top: 120px;
  cursor: pointer;
}
div#arrowContainer div#arrowDownMobile img {
  height: 100px;
  position: absolute;
  right: 10px;
  transform: rotate(270deg);
}

div#pauseContainer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(20, 20, 26, 0.7725490196);
  display: none;
}
div#pauseContainer p {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%);
  font-size: 10em;
  font-weight: 300;
  /* writing-mode: vertical-rl; */
  letter-spacing: -10px;
  color: azure;
}/*# sourceMappingURL=main.css.map */