@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;600;700;900&display=swap");
div#arrowContainer div#arrowDownMobile, div#arrowContainer div#arrowUpMobile, div#arrowContainer div#arrowLeftMobile, div#arrowContainer div#arrowRightMobile {
  width: 102px;
  height: 102px;
  box-shadow: 2px 2px 2px white, 2px -2px 2px white, -2px 2px 2px white, -2px -2px 2px white;
}

/* @include arrowMobilePos(50px); */
html {
  min-height: 100%;
  height: 100%;
  background: linear-gradient(#123 30%, #667);
  overflow: hidden;
}

body {
  background-color: #383838;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: relative;
}

* {
  font-family: "Rubik", sans-serif !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: white;
  margin-bottom: 16px;
}

div.frame {
  position: relative;
  width: 100vw;
  height: 100vh;
  direction: rtl;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 6px;
  text-align: center;
  position: relative;
}
div.frame div.board {
  display: inline-grid;
  border-radius: 3px;
  border: 4px solid;
  overflow: hidden;
  background-color: #464646;
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
}
div.frame div.board div {
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: azure;
  font-size: 15px;
  z-index: 1;
  text-shadow: 2px 2px 2px azure, 2px -2px 2px azure, -2px 2px 2px azure, -2px -2px 2px azure;
}
div.frame div.board div.snake {
  background-color: rgba(93, 0, 255, 0);
}
div.frame div.board div.head {
  background-color: rgba(152, 49, 49, 0);
}
div.frame div.board div.blueberry::after {
  content: attr(fruit);
  position: relative;
  top: 0px;
  right: 0px;
  font-size: 16px;
}
div.frame div#headContainer {
  display: inline-grid;
  border-radius: 3px;
  position: absolute;
  left: 50%;
  top: 80px;
  transform: translateX(-50%);
  z-index: 3;
  border: 4px solid;
  visibility: hidden;
  text-shadow: 1.4px 1.4px 1.4px azure, 1.4px -1.4px 1.4px azure, -1.4px 1.4px 1.4px azure, -1.4px -1.4px 1.4px azure;
}
div.frame div#headContainer div {
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: azure;
  font-size: 15px;
  z-index: 1;
}
div.frame div#headContainer div#headTransition {
  background-color: rgba(93, 0, 255, 0);
  position: absolute;
  transition: all 0.08s;
}

/* #headTransition.up {
    border-radius: 6px 6px 0 0;
    height: 1px;
}

#headTransition.right {
    border-radius: 0 6px 6px 0;
    width: 1px;
}

#headTransition.down {
    border-radius: 0 0 6px 6px;
    height: 1px;
}

#headTransition.left {
    border-radius: 6px 0 0 6px;
    width: 1px;
} */
div.menuGameContainer {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(91, 83, 83, 0.4509803922);
  width: 100vw;
  height: 100vh;
  z-index: 500;
  display: flex;
  justify-content: center;
}
div.menuGameContainer div#menuGame {
  background-color: rgba(255, 255, 255, 0.5098039216);
  box-shadow: 4px 4px 4px rgba(255, 255, 255, 0.5098039216), 4px -4px 4px rgba(255, 255, 255, 0.5098039216), -4px 4px 4px rgba(255, 255, 255, 0.5098039216), -4px -4px 4px rgba(255, 255, 255, 0.5098039216);
  color: azure;
  text-shadow: 4px 4px 4px #000, 4px -4px 4px #000, -4px 4px 4px #000, -4px -4px 4px #000;
  width: 400px;
  height: 470px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
div.menuGameContainer div#menuGame div.rowMenuFlex {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 380px;
}
div.menuGameContainer div#menuGame div.rowMenuFlex div.tdLeft {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  margin-right: 2px;
  transition: font-size 0.2s, padding-top 0.2s;
  font-weight: 900;
}
div.menuGameContainer div#menuGame div.rowMenuFlex div.tdLeft:hover {
  font-size: 30px;
  padding-top: -5px;
}
div.menuGameContainer div#menuGame div.rowMenuFlex div.tdCenter {
  width: 300px;
  text-align: center;
  font-size: 20px;
}
div.menuGameContainer div#menuGame div.rowMenuFlex div.tdRight {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  margin-left: 2px;
  transition: font-size 0.2s, padding-top 0.2s;
  font-weight: 900;
}
div.menuGameContainer div#menuGame div.rowMenuFlex div.tdRight:hover {
  font-size: 30px;
  padding-top: -5px;
}
div.menuGameContainer div#menuGame div.rowMenuFlex div#snakeTypeId {
  letter-spacing: -8px;
}
div.menuGameContainer div#menuGame div.rowMenuFlex div#fruitTypeId {
  font-size: 30px;
}
div.menuGameContainer div#menuGame div.buttonMenuContainer {
  margin-top: 50px;
}
div.menuGameContainer div#menuGame div.buttonMenuContainer button {
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px, rgba(0, 0, 0, 0.6117647059) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s;
  white-space: nowrap;
  border: 0;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
div.menuGameContainer div#menuGame div.buttonMenuContainer button:hover {
  box-shadow: rgba(0, 0, 0, 0.6117647059) 0 0 0 3px, transparent 0 0 0 0;
}

div#popup {
  display: none;
  position: absolute;
  left: 50%;
  top: 200px;
  transform: translate(-50%);
  filter: drop-shadow(5px 5px 5px #fffefe);
}
div#popup div {
  font-size: 6em;
  color: red;
  font-weight: 900;
}

.snow,
.snow:before,
.snow:after {
  position: absolute;
  top: -600px;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: radial-gradient(3px 3px at 417px 463px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 202px 550px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 309px 207px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 553px 421px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 576px 221px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 122px 318px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 457px 133px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 71px 428px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 110px 521px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 133px 340px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 264px 245px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 155px 589px, rgb(255, 255, 255) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 565px 224px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 458px 9px, rgb(255, 255, 255) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 547px 285px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 51px 81px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 468px 138px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 436px 562px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 167px 596px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 55px 271px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 344px 342px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 258px 104px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 376px 250px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 216px 191px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 277px 257px, rgb(255, 255, 255) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 593px 393px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 31px 479px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 237px 428px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 202px 510px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 505px 495px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 584px 331px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 246px 295px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 564px 105px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 383px 385px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 18px 377px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 118px 489px, rgb(255, 255, 255) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 342px 330px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 134px 595px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 187px 96px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 156px 415px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 593px 96px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 289px 417px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 312px 263px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 141px 203px, rgb(255, 255, 255) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 80px 335px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 375px 198px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 250px 527px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 38px 222px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 127px 116px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 9px 553px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 363px 174px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 198px 6px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 372px 239px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 55px 86px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 440px 89px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 319px 36px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 289px 467px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 268px 128px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 110px 235px, rgb(255, 255, 255) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 156px 376px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 326px 72px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 177px 214px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 377px 111px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 247px 169px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 318px 588px, rgb(255, 255, 255) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 322px 445px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 205px 93px, rgb(255, 255, 255) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 324px 90px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 178px 306px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 220px 512px, rgb(255, 255, 255) 50%, rgba(0, 0, 0, 0));
  background-size: 600px 600px;
  animation: snow 3s linear infinite;
  content: "";
}

.snow:after {
  margin-left: -wCpx;
  opacity: 0.4;
  animation-duration: 6s;
  animation-direction: reverse;
  filter: blur(3px);
}

.snow:before {
  animation-duration: 9s;
  animation-direction: reverse;
  margin-left: -wBpx;
  opacity: 0.65;
  filter: blur(1.5px);
}

@keyframes snow {
  to {
    transform: translateY(600px);
  }
}
div#arrowContainer {
  position: absolute;
  left: 50%;
  bottom: 5px;
  width: 364px;
  height: 224px;
  transform: translate(-50%);
  z-index: 700000;
  opacity: 1;
}
div#arrowContainer div#arrowRightMobile {
  position: absolute;
  left: 260px;
  top: 60px;
  cursor: pointer;
}
div#arrowContainer div#arrowRightMobile img {
  width: 100px;
  transform: rotate(180deg);
}
div#arrowContainer div#arrowLeftMobile {
  position: absolute;
  left: 0px;
  top: 60px;
  cursor: pointer;
}
div#arrowContainer div#arrowLeftMobile img {
  width: 100px;
  transform: rotate(0deg);
}
div#arrowContainer div#arrowUpMobile {
  position: absolute;
  left: 130px;
  top: 0px;
  cursor: pointer;
}
div#arrowContainer div#arrowUpMobile img {
  height: 100px;
  position: absolute;
  right: 10px;
  top: 0;
  transform: rotate(90deg);
}
div#arrowContainer div#arrowDownMobile {
  position: absolute;
  left: 130px;
  top: 120px;
  cursor: pointer;
}
div#arrowContainer div#arrowDownMobile img {
  height: 100px;
  position: absolute;
  right: 10px;
  transform: rotate(270deg);
}

div#pauseContainer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(20, 20, 26, 0.7725490196);
  display: none;
}
div#pauseContainer p {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%);
  font-size: 10em;
  font-weight: 300;
  /* writing-mode: vertical-rl; */
  letter-spacing: -10px;
  color: azure;
}/*# sourceMappingURL=main.css.map */