div#popupWrapper{
    background-color: $popupBgcBackground;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 500000000000000000;
    display: none;

    #popup {
        position: relative;
        left: 50%;
        top: 125px;
        transform: translate(-50%);
        font-family: arial;
        text-align: center;
        width: 300px;
        height: 200px;
        padding: 20px;
        background-color: #fff;

        #closePopupX {
            position: absolute;
            top: 5px;
            right: 8px;
            cursor: pointer;
            font-size: 18px;
            font-weight: 900;
            transition: all 0.3s;
            
            &:hover {
                font-size: 24px;
                margin-top: -3px;
                margin-right: -3px;
                font-weight: 900;
            }
        }

        #declarWinnerName {
            font-family: 'Alkatra', cursive;
            font-size: 2em;
            color: $popupNameWinnerColor;
            font-weight: bold;
            width: 300px;
            text-align: center;
            margin-top: -5px;
        }

        button#closePopupButton {
            position: absolute;
            left: 50%;
            bottom: 10px;
            transform: translate(-50%);
            width: 180px;
            text-align: center;
            font-size: 1.4em;
            font-weight: bold;
            cursor: pointer;
            user-select: none;
            border: 3px solid $popupBorder;
        }
    }
}