/* ************************************************************************* */
/* --Navigation Bar-- */
nav {
    position: fixed;
    max-width: 1400px;
    height: 152px;
    background-color: #f2f2f2;
    z-index: 5000;
    left: 50%;
    top: 76px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}
/* --Navigation Bar-- */
/* ******************************************** */
/* --div style like hr-- */
nav div.divider {
    margin-top: -12px;
}
/* --div style like hr-- */
/* ******************************************** */

/* ************************************************************************* */
/* ------------------------@media (max-height: 1400px)------------------------ */
@media (max-width: 1400px) {
/* ******************************************** */
/* --Navigation Bar-- */
nav {
    height: 158px;
    top: 64px;
    width: 1214px;
}
/* --Navigation Bar-- */
/* ******************************************** */
}
/* ------------------------@media (max-height: 1400px)------------------------ */
/* ************************************************************************* */

/* ************************************************************************* */
/* ------------------------@media (max-height: 1200px)------------------------ */
@media (max-width: 1200px) {
/* ******************************************** */
/* --Navigation Bar-- */
nav {
    height: 126px;
    width: 1004px;
    top: 61px;
}
/* --Navigation Bar-- */
/* ******************************************** */
}
/* ------------------------@media (max-height: 1200px)------------------------ */
/* ************************************************************************* */

/* ************************************************************************* */
/* ------------------------@media (max-height: 992px)------------------------ */
@media (max-width: 992px) {
/* ******************************************** */
/* --Navigation Bar-- */
nav {
    height: 102px;
    top: 51px;
    width: 780px;
}
/* --Navigation Bar-- */
/* ******************************************** */
}
/* ------------------------@media (max-height: 992px)------------------------ */
/* ************************************************************************* */

/* ************************************************************************* */
/* ------------------------@media (max-height: 768px)------------------------ */
@media (max-width: 768px) {
/* ******************************************** */
/* --Navigation Bar-- */
nav {
    z-index: 0;
    left: none;
    top: 54px;
    height: 108px;
    margin-top: 0px;
}
/* --Navigation Bar-- */
/* ******************************************** */
}
/* ------------------------@media (max-height: 768px)------------------------ */
/* ************************************************************************* */

/* ************************************************************************* */
/* ------------------------@media (max-height: 500px)------------------------ */
@media (max-width: 500px) {
/* ******************************************** */
/* --Navigation Bar-- */
nav {
    height:  93px;
    top: 46px;
}
/* --Navigation Bar-- */
/* ******************************************** */
}
/* ------------------------@media (max-height: 500px)------------------------ */
/* ************************************************************************* */