div#heartOfPlayer p#heartsBoxPlayerOne {
    position: absolute;
    right: 285px;
    top: -20px;
    font-size: 1.4em;
    direction: rtl;
    z-index: 500000000000000000000000000000000000000000000000000000000000000000000;
    /* display: none; */
}
div#heartOfPlayer p#heartsBoxPlayerTwo {
    position: absolute;
    left: 285px;
    top: -20px;
    font-size: 1.4em;
    direction: ltr;
    /* display: none; */
}

div#screenGameCenter p#nameTurn {
    font-family: 'Alkatra';
    position: absolute;
    top: 100px;
    left: 0;
    color: black;
    font-size: 2.3em;
    font-weight: bold;
    text-align: center;
    width: 520px;
    height: 45px;
}




@media (max-width: 470px) {
div#heartOfPlayer p#heartsBoxPlayerOne {
    left: 10px;
    width: 100px;
    top: 0px;
    font-size: 1.2em;
}

div#heartOfPlayer p#heartsBoxPlayerTwo {
    left: 60vw;
    width: 100px;
    top: 0px;
    font-size: 1.2em;
}

div#screenGameCenter p#nameTurn {
    top: 130px;
    width: 100vw;
    height: 45px;
}
}