div.frame {
    width: 80%;
    max-width: 900px;
    /* min-height: 300px; */
    background-color: #ffffffc9;
    margin: auto;
    padding: 8px 16px;
    border-radius: 6px;
    box-shadow: 
        rgba(50, 50, 93, 0.65) 0px 50px 100px -20px, 
        rgba(0, 0, 0, 0.7) 0px 30px 60px -30px, 
        rgba(10, 37, 64, 0.75) 0px -2px 6px 0px inset;

        div.arrow {
            position: absolute;
            background: $arrowBgcolorHover;
            color: $color;
            padding: 0 10px;
            font-size: 18px;
            top: 0;
            bottom: 0;
            margin: auto;
            height: 98%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            transition: 0.3s;
            cursor: pointer;
            opacity: 0;

            &:hover {
                background: $arrowBgcolorHover;
            }
        }

        div.arrow.right {
            border-radius: 8px 0 0 8px;
        }

        div.arrow.left {
            border-radius: 0 8px 8px 0;
            left: 0;
        }

        div.arrow.right::after {
            content: "<<"
        }

        div.arrow.left::after {
            content: ">>"
        }
        
        div.gallery {
            position: relative;
        }

        div.gallery:hover .arrow {
            opacity: 1;
        }

    div.albumsContainer {
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0.4;
        transition: opacity 0.5s;

        &:hover {
            opacity: 1;
        }

        div {
            width: 240px;
            margin: auto 10px;
            cursor: pointer;
            border-radius: 25px;
            position: relative;

            img {
                border-radius: 25px;
                border: 5px solid $border;
                box-shadow: rgba(50, 50, 93, 0.65) 0px 50px 100px -20px, rgba(0, 0, 0, 0.7) 0px 30px 60px -30px, rgba(10, 37, 64, 0.75) 0px -2px 6px 0px inset;
            }
            &:hover img {
                opacity: 1;
                filter: brightness(50%);
                border: 5px solid $borderHover;
            }
            p.nameOfThisAlbum {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                font-size: 2.4em;
                color: red;
                font-weight: bolder;
                text-shadow:
                    1px 1px 0px $shadowText,
                    1px -1px 0px $shadowText,
                    -1px 1px 0px $shadowText,
                    -1px -1px 0px $shadowText,
                    2px 2px 2px $border;
                z-index: 500;

                @include table {
                    font-size: 1.6em;
                }

                @include mobile {
                    font-size: 1em;
                }
            }

        }

    }

}



