@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;600;700;900&display=swap');

$menuGameBgc: #ffffff82;
$menuGameBoxShadow: #ffffff82;
$menuGameTextShadow: #000;
$menuGameColor: azure;
$menuGameButtonColor: #121212;
$menuGameButtonBgc: #fff;
$menuGameButtonBoxShadow: #0000009c;



%arrowMobileDiv {
    width: 102px;
    height: 102px;
    box-shadow: 
        2px 2px 2px white,
        2px -2px 2px white,
        -2px 2px 2px white,
        -2px -2px 2px white;
}

@mixin arrowMobilePos($left, $top: 60px) {
    position: absolute;
    left: $left;
    top: $top;
    cursor: pointer;
}
/* @include arrowMobilePos(50px); */