
div.frame {
    position: relative;
    width: 100vw;
    height: 100vh;
    direction: rtl;
    background-color: #ffffff00;
    border-radius: 6px;
    text-align: center;
    position: relative;
    
    div.board {
        display: inline-grid;
        border-radius: 3px;
        border: 4px solid;
        overflow: hidden;
        background-color: #464646;
        position: absolute;
        top: 80px;
        left: 50%;
        transform: translateX(-50%);
        
        div {
            width: 15px;
            height: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: azure;
            font-size: 15px;
            z-index: 1;
            text-shadow:
                2px 2px 2px azure,
                2px -2px 2px azure,
                -2px 2px 2px azure,
                -2px -2px 2px azure;
        }

        div.snake {
            background-color: #5d00ff00;
        }
        
        div.head {
            background-color: #98313100;
        }
    
        div.blueberry::after {
            content: attr(fruit);
            position: relative;
            top: 0px;
            right: 0px;
            font-size: 16px;
        }
    }
    
    div#headContainer {
        display: inline-grid;
        border-radius: 3px;
        position: absolute;
        left: 50%;
        top: 80px;
        transform: translateX(-50%);
        z-index: 3;
        border: 4px solid;
        visibility: hidden;
        text-shadow:
            1.4px 1.4px 1.4px azure,
            1.4px -1.4px 1.4px azure,
            -1.4px 1.4px 1.4px azure,
            -1.4px -1.4px 1.4px azure;
        
        div {
            width: 15px;
            height: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: azure;
            font-size: 15px;
            z-index: 1;
        }

        div#headTransition {
            background-color: #5d00ff00;
            position: absolute;
            transition: all 0.08s;
        }
    }
    
}








/* #headTransition.up {
    border-radius: 6px 6px 0 0;
    height: 1px;
}

#headTransition.right {
    border-radius: 0 6px 6px 0;
    width: 1px;
}

#headTransition.down {
    border-radius: 0 0 6px 6px;
    height: 1px;
}

#headTransition.left {
    border-radius: 6px 0 0 6px;
    width: 1px;
} */