.containerCenter {
    top: 40px;
    left: 600px;
    width: 150px;
    height: 112.5px;
    transform: skewY(0deg);
    box-shadow:
        0px -1px 0 #444,
        0px -2px 0 #444,
        0px -3px 0 #444,
        0px -4px 0 #444,
        0px -5px 0 #444,
        0px -6px 0 #444;
    transition: src 0.5s;
}
.containerCenterImg {
    width: 100%;
    height: 100%;
}
.containerCenter:hover {
    transform: skewY(0deg);
    box-shadow:
        0px -1px 0 #444,
        0px -2px 0 #444,
        0px -3px 0 #444,
        0px -4px 0 #444,
        0px -5px 0 #444,
        0px -6px 0 #444;
    width: 166px;
    height: 120.5px;
    margin-top: -8px;
    margin-left: -8px;
}

.containerCenter::after {
    content: '';
    width: 180px;
    height: 4px;
    background: #000;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(36px);
    border-bottom: 2px solid #262626;
    border-right: 2px solid #262626;
    filter: blur(5px);
}

@media (max-width: 1400px) {
    .containerCenter {
        top: 34.3px;
        left: 514.2px;
        width: 128.55px;
        height: 96.41px;
    }

    .containerCenter:hover {
        width: 144.55px;
        height: 112.41px;
    }

    .containerCenter::after {
        width: 154.26px;
    }
}

@media (max-width: 1200px) {
    .containerCenter {
        top: 28.57px;
        left: 428.33px;
        width: 107.08px;
        height: 80.31px;
    }
    
    .containerCenter:hover {
        width: 123.08px;
        height: 96.31px;
    }
    
    .containerCenter::after {
        width: 128.47px;
    }
}

@media (max-width: 1000px) {
    .containerCenter {
        top: 21.94px;
        left: 328.96px;
        width: 82.24px;
        height: 61.68px;
    }

    .containerCenter:hover {
        width: 92.24px;
        height: 71.68px;
        margin-top: -5px;
        margin-left: -5px;
    }

    .containerCenter::after {
        width: 98.66px;
        height: 4px;
    }
}
@media (max-width: 768px) {
    .containerCenter {
        left: 278.96px;
    }
}
@media (max-width: 650px) {
    .containerCenter {
        left: 208.35px;
    }
}
@media (max-width: 550px) {
    .containerCenter {
        left: 104.15px;
    }
}