.containerRightMedium {
    top: 75px;
    left: 1160px;
    width: 105px;
    height: 79px;
    transform: skewY(-10deg);
    box-shadow:
        -1px -1px 0 #444,
        -2px -2px 0 #444,
        -3px -3px 0 #444,
        -4px -4px 0 #444,
        -5px -5px 0 #444,
        -6px -6px 0 #444;
    transition: .5s;
}
.containerRightMediumImg {
    width: 100%;
    height: 100%;
}
.containerRightMedium:hover {
    transform: skewY(0deg);
    box-shadow:
        0px -1px 0 #444,
        0px -2px 0 #444,
        0px -3px 0 #444,
        0px -4px 0 #444,
        0px -5px 0 #444,
        0px -6px 0 #444;
    width: 113px;
    height: 87px;
    margin-top: -4px;
    margin-left: -4px;
}

.containerRightMedium::after {
    content: '';
    width: 120px;
    height: 4px;
    background: #000;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(30px);
    border-bottom: 2px solid #262626;
    border-right: 2px solid #262626;
    filter: blur(5px);
}


@media (max-width: 1400px) {
    .containerRightMedium {
        top: 64.27px;
        left: 994.12px;
        width: 89.98px;
        height: 67.7px;
    }

    .containerRightMedium:hover {
        width: 97.98px;
        height: 75.7px;
    }

    .containerRightMedium::after {
        width: 102.84px;
    }
}

@media (max-width: 1200px) {
    .containerRightMedium {
        top: 53.54px;
        left: 828.1px;
        width: 74.95px;
        height: 56.39px;
    }

    .containerRightMedium:hover {
        width: 82.95px;
        height: 64.39px;
    }

    .containerRightMedium::after {
        width: 85.66px;
    }
}

@media (max-width: 1000px) {
    .containerRightMedium {
        top: 41.12px;
        left: 635.98px;
        width: 57.56px;
        height: 43.31px;
    }

    .containerRightMedium:hover {
        width: 65.56px;
        height: 51.31px;
    }

    .containerRightMedium::after {
        width: 65.79px;
    }
}
@media (max-width: 768px) {
    .containerRightMedium {
        left: 585.32px;
    }
}
@media (max-width: 650px) {
    .containerRightMedium {
        left: 20vw;
        visibility: hidden;
    }
}